@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;1,100&display=swap');

:root{
    --primeira_cor: #222831;
    --segunda_cor: #393E46;
    --terceira_cor: #FFD369;
    --quarta_cor: #EEEEEE;
    --quinta_cor: #0F0F0F;

    --primeira_fonte: 'Montserrat', sans-serif;
}