@import 'Styles/Variaveis.css';

.login__conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
    gap: 3rem;
    align-items: center;
    font-family: var(--primeira_fonte);
}

.login__form{
    border: 0.1rem solid transparent;
    border-radius: 1rem;
    padding: 2rem 4rem;
    background-color: var(--segunda_cor);
}

.lateral{
    font-size: 2.5rem;
    color: var(--terceira_cor);
}

.lateral strong{
    font-weight: bold;
}