@import 'Styles/Variaveis.css';

.campos{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    gap: 1rem;
    color: var(--quarta_cor);
    width: 100%;
}

.campos input{
    background-color: transparent;
    border: none;
    border-bottom: 0.1rem solid var(--quarta_cor);
    outline: none;
    color: var(--quarta_cor);
    padding: 0.2rem;
    text-align: center;
}