@import 'Styles/Variaveis.css';

.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    background-color: var(--segunda_cor);
}

.cabecalho__titulo{
    color: var(--terceira_cor);
    font-family: var(--primeira_fonte);
    font-size: 1.5rem;
    font-weight: bold;
}

.cabecalho__link{
    display: flex;
    gap: 3rem;
}